<!DOCTYPE html>
<html class="overflow-x-hidden h-full" lang="en">
   <head>
      <meta charset="utf-8">
      <title>Tunis - Tailwind CSS Personal Portfolio HTML Template</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Template Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
      <!-- Template CSS Files -->
      <link rel="stylesheet" href="/static/assets/css/circle.css" >
      <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/assets/css/component.css">
      <link rel="stylesheet" href="/static/assets/css/style.css">
      <!-- CSS Skin File -->
      <link rel="stylesheet" href="/static/assets/css/skins/yellow.css">
      <!-- Live Style Switcher - demo only -->
      <link rel="alternate stylesheet" type="text/css" title="blue" href="/static/assets/css/skins/blue.css">
      <link rel="alternate stylesheet" type="text/css" title="green" href="/static/assets/css/skins/green.css">
      <link rel="alternate stylesheet" type="text/css" title="yellow" href="/static/assets/css/skins/yellow.css">
      <link rel="alternate stylesheet" type="text/css" title="blueviolet" href="/static/assets/css/skins/blueviolet.css">
      <link rel="alternate stylesheet" type="text/css" title="goldenrod" href="/static/assets/css/skins/goldenrod.css">
      <link rel="alternate stylesheet" type="text/css" title="magenta" href="/static/assets/css/skins/magenta.css">
      <link rel="alternate stylesheet" type="text/css" title="orange" href="/static/assets/css/skins/orange.css">
      <link rel="alternate stylesheet" type="text/css" title="purple" href="/static/assets/css/skins/purple.css">
      <link rel="alternate stylesheet" type="text/css" title="red" href="/static/assets/css/skins/red.css">
      <link rel="alternate stylesheet" type="text/css" title="yellowgreen" href="/static/assets/css/skins/yellowgreen.css">
      <link rel="stylesheet" type="text/css" href="/static/assets/css/styleswitcher.css">
      <link rel="icon" href="/static/assets/img/img.png" type="image/x-icon">
      <!-- Modernizr JS File -->
      <script src="/static/assets/js/modernizr.min.js"></script>
   </head>
   <body class="home dark font-Poppins text-fs-16 text-white font-medium leading-lh-1.6 relative w-full h-full bg-black overflow-hidden">
      <!-- Preloader Starts -->
      <div id="preloader" class="fixed z-100 group left-0 top-0 h-screen w-full flex justify-center items-center pointer-events-none before:absolute before:left-0 before:top-0 before:w-1/2 before:h-full before:bg-black-3 before:transition-all before:duration-300 after:absolute after:right-0 after:top-0 after:w-1/2 after:h-full after:bg-black-3 after:transition-all after:duration-300 [&.preloaded]:before:animate-finishanimation [&.preloaded]:after:animate-finishanimation">
         <div class="line m-0 h-250 w-3 rounded-4 relative overflow-hidden transition-all duration-700 before:animate-animateline before:z-10 before:absolute before:left-0 before:top-1/2 before:w-3 before:h-0 before:-translate-y-1/2 after:animate-animatebgline after:absolute after:left-0 after:w-1 after:h-full after:bg-transparent after:-translate-y-full group-[.preloaded]:opacity-0 group-[.preloaded]:!h-full group-[.preloaded]:after:opacity-0"></div>
      </div>
      <!-- Preloader Ends -->
      <!-- Header Starts -->
      <header class="header from-lg:fixed from-lg:right-30 from-lg:bottom-0 from-lg:z-30 from-lg:flex from-lg:items-center from-lg:h-[calc(100vh-200px)] from-lg:top-100 from-lg:opacity-100 from-lg:transition from-lg:duration-300 from-lg:[&.hide-header]:z-0 from-lg:[&.hide-header]:opacity-0" id="navbar-collapse-toggle">
         <!-- Fixed Desktop Navigation Starts -->
         <ul id="desktop-nav" class="icon-menu down-lg:hidden from-md:block uppercase">
            <li class="desktop-nav-element cursor-pointer w-50 h-50 relative flex items-center transition duration-300 my-20 mx-0 rounded-full bg-black-2 active">
              <a href="{% url 'blogapp:home' %}">
                  <box-icon class="absolute left-0 right-0 mx-auto block text-center top-15 pointer-events-none text-fs-19" name="home" type="solid" color="#ffffff"></box-icon>
                  <div class="group block p-0 w-50 h-50" >
                  <h2 class="absolute text-center -z-10 block h-50 pr-25 pl-30 text-fs-15 right-0 opacity-0 text-white leading-lh-50 font-medium transition-all duration-300 rounded-30 group-hover:opacity-100 group-hover:right-27 group-hover:rounded-tl-30 group-hover:rounded-bl-30 group-hover:rounded-tr-none group-hover:rounded-br-none">Home</h2>
                  </div>
              </a>
            </li>
            <li class="desktop-nav-element cursor-pointer w-50 h-50 relative flex items-center transition duration-300 my-20 mx-0 rounded-full bg-black-2">
               <a href="{% url 'blogapp:post_list' %}">
                  <box-icon class="absolute left-0 right-0 mx-auto block text-center top-15 pointer-events-none text-fs-19" name="grid-alt" type="solid" color="#ffffff"></box-icon>
                  <div class="group block p-0 w-50 h-50" >
                  <h2 class="absolute text-center -z-10 block h-50 pr-25 pl-30 text-fs-15 right-0 opacity-0 text-white leading-lh-50 font-medium transition-all duration-300 rounded-30 group-hover:opacity-100 group-hover:right-27 group-hover:rounded-tl-30 group-hover:rounded-bl-30 group-hover:rounded-tr-none group-hover:rounded-br-none">Services</h2>
                  </div>
               </a>
            </li>
            <li class="desktop-nav-element cursor-pointer w-50 h-50 relative flex items-center transition duration-300 my-20 mx-0 rounded-full bg-black-2">
               <a href="{% url 'blogapp:projects' %}">
                  <box-icon class="absolute left-0 right-0 mx-auto block text-center top-15 pointer-events-none text-fs-19" name="briefcase-alt-2" type="solid" color="#ffffff"></box-icon>
                  <div class="group block p-0 w-50 h-50">
                  <h2 class="absolute text-center -z-10 block h-50 pr-25 pl-30 text-fs-15 right-0 opacity-0 text-white leading-lh-50 font-medium transition-all duration-300 rounded-30 group-hover:opacity-100 group-hover:right-27 group-hover:rounded-tl-30 group-hover:rounded-bl-30 group-hover:rounded-tr-none group-hover:rounded-br-none">Projects</h2>
               </div>
               </a>
            </li>
            <li class="desktop-nav-element cursor-pointer w-50 h-50 relative flex items-center transition duration-300 my-20 mx-0 rounded-full bg-black-2">
               <a href="{% url 'blogapp:blog' %}">
                  <box-icon class="absolute left-0 right-0 mx-auto block text-center top-15 pointer-events-none text-fs-19" name="detail" type="solid" color="#ffffff"></box-icon>
                  <div class="group block p-0 w-50 h-50">
                  <h2 class="absolute text-center -z-10 block h-50 pr-25 pl-30 text-fs-15 right-0 opacity-0 text-white leading-lh-50 font-medium transition-all duration-300 rounded-30 group-hover:opacity-100 group-hover:right-27 group-hover:rounded-tl-30 group-hover:rounded-bl-30 group-hover:rounded-tr-none group-hover:rounded-br-none">Blog</h2>
               </div>
               </a>
            </li>
            <li class="desktop-nav-element cursor-pointer w-50 h-50 relative flex items-center transition duration-300 my-20 mx-0 rounded-full bg-black-2">
               <a href="{% url 'blogapp:contact_us' %}">
                  <box-icon class="absolute left-0 right-0 mx-auto block text-center top-15 pointer-events-none text-fs-19" name="envelope" type="solid" color="#ffffff"></box-icon>
                  <div class="group block p-0 w-50 h-50">
                  <h2 class="absolute text-center -z-10 block h-50 pr-25 pl-30 text-fs-15 right-0 opacity-0 text-white leading-lh-50 font-medium transition-all duration-300 rounded-30 group-hover:opacity-100 group-hover:right-27 group-hover:rounded-tl-30 group-hover:rounded-bl-30 group-hover:rounded-tr-none group-hover:rounded-br-none">Contact</h2>
               </div>
               </a>
            </li>
         </ul>
         <!-- Fixed Desktop Navigation Ends -->
         <!-- Mobile Menu Starts -->
         <nav class="hidden down-md:block relative">
            <div id="menuToggle" class="fixed top-30 right-30 z-50 select-none pt-19 pl-16 w-54 h-54 rounded-5 bg-black-3 xs:right-15 xs:top-4 xs:pb-13 xs:w-49 xs:h-49">
               <input id="inputmobile" class="h-54 w-54 absolute top-0 left-0 opacity-0 z-20 cursor-pointer peer" type="checkbox">
               <span class="flex h-0.5 w-23 mb-5 relative bg-white z-10 rounded-3 origin-0 custom-transition peer-checked:rotate-45 peer-checked:translate-x-1 peer-checked:translate-y-0"></span>
               <span class="flex h-0.5 w-23 mb-5 relative bg-white z-10 rounded-3 origin-0-100 custom-transition peer-checked:opacity-0 peer-checked:scale-0-2"></span>
               <span class="flex h-0.5 w-23 mb-5 relative bg-white z-10 rounded-3 origin-0-100 custom-transition peer-checked:-rotate-45 peer-checked:translate-x-2 peer-checked:translate-y-2"></span>
               <ul class="fixed m-0 left-0 top-0 w-full h-full pt-60 bg-black-3 -translate-x-full ease-menu-mobile duration-500 peer-checked:transform-none [&>li]:cursor-pointer [&>li]:after:absolute [&>li]:after:h-px [&>li]:after:w-[calc(100%-60px)] [&>li]:after:bg-black-4 [&>li]:after:left-30 [&>li:last-child]:after:hidden" id="mobile-nav">
                  <li class="mobile-nav-element active relative pl-30 home-link">
                     <a href="{% url 'blogapp:home' %}">
                        <div class="uppercase delay-2000 no-underline relative text-fs-26 xs:text-fs-18 py-14">
                        <box-icon class="" name="home" type="solid" color="#ffffff"></box-icon>
                        <span class="absolute left-50 xs:left-35 font-normal">Home</span>
                     </div>
                     </a>
                  </li>
                  <li class="mobile-nav-element relative pl-30">
                     <a href="{% url 'blogapp:post_list' %}">
                        <div class="uppercase delay-2000 no-underline relative text-fs-26 xs:text-fs-18 py-14">
                        <box-icon class="" name="grid-alt" type="solid" color="#ffffff"></box-icon>
                        <span class="absolute left-50 xs:left-35 font-normal">Services</span>
                        </div>
                     </a>
                  </li>
                  <li class="mobile-nav-element relative pl-30">
                     <a href="{% url 'blogapp:projects' %}">
                        <div class="uppercase delay-2000 no-underline relative text-fs-26 xs:text-fs-18 py-14">
                        <box-icon class="" name="briefcase-alt-2" type="solid" color="#ffffff"></box-icon>
                        <span class="absolute left-50 xs:left-35 font-normal">Projects</span>
                        </div>
                     </a>
                  </li>
                  <li class="mobile-nav-element relative pl-30">
                     <a href="{% url 'blogapp:blog' %}">
                        <div class="uppercase delay-2000 no-underline relative text-fs-26 xs:text-fs-18 py-14">
                        <box-icon class="" name="detail" type="solid" color="#ffffff"></box-icon>
                        <span class="absolute left-50 xs:left-35 font-normal">Blog</span>
                        </div>
                     </a>
                  </li>
                  <li class="mobile-nav-element relative pl-30">
                     <a href="{% url 'blogapp:contact_us' %}">
                        <div class="uppercase delay-2000 no-underline relative text-fs-26 xs:text-fs-18 py-14">
                        <box-icon class="" name="envelope" type="solid" color="#ffffff"></box-icon>
                        <span class="absolute left-50 xs:left-35 font-normal">Contact</span>
                        </div>
                     </a>
                  </li>
               </ul>
            </div>
         </nav>
         <!-- Mobile Menu Ends -->
      </header>
      <!-- Header Ends -->

      {% block content %} {% endblock %}

      <!-- Template JS Files -->
      <script src="/static/assets/js/jquery-3.7.1.min.js"></script>
      <script src="/static/assets/js/styleswitcher.js"></script>
      <script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="/static/assets/js/masonry.pkgd.min.js"></script>
      <script src="/static/assets/js/classie.js"></script>
      <script src="/static/assets/js/main.js"></script>
      <script src="/static/assets/js/cbpGridGallery.js"></script>
      <script src="/static/assets/js/jquery.hoverdir.js"></script>
      <script src="/static/assets/js/menu.js"></script>
      <script src="/static/assets/js/custom.js"></script>
      <script src="/static/assets/js/modernizr.min.js"></script>
      <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
   </body>
</html>