{% extends 'blogapp/base.html' %}

{% block content %}
<div class="w-full h-full pages overflow-hidden">
    <div class="page page--current" id="contact">
        <div class="w-full">
            <div class="mx-auto w-full relative py-80 text-center xs:px-25 xs:pt-16 xs:pb-14 xs:bg-black-3 xs:border-b xs:border-black-4 xs:fixed xs:left-0 xs:right-0 xs:top-0 xs:z-20">
                <h2 class="text-fs-56 font-black font-Poppins uppercase text-white m-0 xs:text-fs-26 xs:text-left xs:leading-lh-1.2">
                    get in <span class="text-accent">touch</span>
                </h2>
                <span class="text-fs-110 absolute left-0 right-0 top-1/2 tracking-10 leading-lh-0.7 font-extrabold text-muted -translate-y-1/2 uppercase xs:hidden">contact</span>
            </div>
            <div class="xl:max-w-1140 custom-md-3:max-w-[calc(100%-195px)] lg:max-w-960 md:max-w-720 sm:max-w-540 xs:max-w-full mx-auto">
                <div class="flex down-lg:flex-col">
                    <div class="w-1/3 down-lg:w-full px-16 xs:px-0">
                        <h3 class="text-fs-26 xs:text-fs-21 mb-16 font-semibold">Be Decentralized & Smart!</h3>
                        <p class="mb-16 font-Open-sans text-fs-15 xs:text-fs-14">
                            Explore how our blockchain infrastructure solutions can revolutionize your organization. Our expert team is here.
                        </p>
                        <div class="relative font-Open-sans font-semibold pl-50 pt-5 leading-lh-21 text-fs-15 xs:text-fs-14 mb-16">
                            <box-icon class="absolute left-0 top-10 text-fs-33 text-accent" type='solid' name='envelope' color="#ffb400"></box-icon>
                            <span class="block opacity-80 uppercase font-normal">mail us</span>
                            Hash.Chain@mail.com
                        </div>
                        <div class="relative font-Open-sans font-semibold pl-50 pt-5 leading-lh-21 text-fs-15 xs:text-fs-14 mb-16">
                            <box-icon class="absolute left-0 top-10 text-fs-33 text-accent" type='solid' name='phone-call' color="#ffb400"></box-icon>
                            <span class="block opacity-80 uppercase font-normal">call us</span>
                            (212) 525-2748
                        </div>
                        <ul class="-ml-5 pt-4 mb-48">
                            <li class="inline-block">
                                <a href="#" class="social-item inline-block h-40 w-40 leading-lh-42 text-center text-white transition duration-300 text-fs-17 mx-6 bg-black-2 rounded-full">
                                    <box-icon type='logo' name='facebook' color="#ffffff" class="p-3"></box-icon>
                                </a>
                            </li>
                            <li class="inline-block">
                                <a href="#" class="social-item inline-block h-40 w-40 leading-lh-42 text-center text-white transition duration-300 text-fs-17 mx-6 bg-black-2 rounded-full">
                                    <box-icon type='logo' name='twitter' color="#ffffff" class="p-3"></box-icon>
                                </a>
                            </li>
                            <li class="inline-block">
                                <a href="#" class="social-item inline-block h-40 w-40 leading-lh-42 text-center text-white transition duration-300 text-fs-17 mx-6 bg-black-2 rounded-full">
                                    <box-icon type='logo' name='youtube' color="#ffffff" class="p-3"></box-icon>
                                </a>
                            </li>
                            <li class="inline-block">
                                <a href="#" class="social-item inline-block h-40 w-40 leading-lh-42 text-center text-white transition duration-300 text-fs-17 mx-6 bg-black-2 rounded-full">
                                    <box-icon type='logo' name='telegram' color="#ffffff" class="p-3"></box-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                     <!-- Contact Form Starts -->
                     <div class="w-2/3 down-lg:w-full px-16 down-lg:px-0">
                        <form id="contactform" class="contactform" method="post" action="{% url 'blogapp:contact_us' %}">
                           {% csrf_token %}
                           <div class="flex flex-wrap font-normal">
                              <div class="from-sm:w-1/3 down-sm:w-full px-16 xs:px-0">
                                 <input autocomplete="off" class="w-full bg-black-3 text-fs-15 text-white border border-solid border-black py-11 px-26 mb-30 rounded-30 outline-0 transition duration-300 placeholder:text-placeholder field-form" type="text" name="name" placeholder="YOUR NAME">
                              </div>
                              <div class="from-sm:w-1/3 down-sm:w-full px-16 xs:px-0">
                                 <input autocomplete="off" class="w-full bg-black-3 text-fs-15 text-white border border-solid border-black py-11 px-26 mb-30 rounded-30 outline-0 transition duration-300 placeholder:text-placeholder field-form" type="email" name="email" placeholder="YOUR EMAIL">
                              </div>
                              <div class="from-sm:w-1/3 down-sm:w-full px-16 xs:px-0">
                                 <input autocomplete="off" class="w-full bg-black-3 text-fs-15 text-white border border-solid border-black py-11 px-26 mb-30 rounded-30 outline-0 transition duration-300 placeholder:text-placeholder field-form" type="text" name="subject" placeholder="YOUR SUBJECT">
                              </div>
                              <div class="w-full px-16 xs:px-0">
                                 <textarea class="bg-black-3 w-full text-white border border-solid border-black h-160 py-12 px-26 overflow-hidden rounded-30 outline-0 transition duration-300 field-form placeholder:text-placeholder" placeholder="YOUR MESSAGE" name="message"></textarea>
                              </div>
                              <div class="w-full px-16 xs:px-0 mt-30">
                                <button type="submit" class="button overflow-hidden inline-block leading-lh-1.4 rounded-30 text-ellipsis text-center align-middle select-none transition-all duration-250 ease-in-out uppercase no-underline relative z-10 py-16 pr-70 pl-35 text-fs-15 font-semibold text-white bg-transparent outline-0 before:absolute before:-z-10 before:left-0 before:right-0 before:top-0 before:bottom-0 before:translate-x-full hover:before:translate-x-0 before:transition before:duration-300 before:ease-out">
                                    <span class="relative z-20 text-white">Submit Message</span>
                                    <span class="absolute -right-px bottom-0 w-55 h-55 flex items-center justify-center rounded-full text-white text-fs-19 bg-accent">
                                         <box-icon type='logo' name='telegram' color="#ffffff"></box-icon>
                                    </span>
                                </button>
                              </div>
                              <div class="w-full px-16 xs:px-0">
                                 <span id="message" class="output_message h-0 text-center leading-lh-46 rounded-30 text-white block [&.success]:h-46 [&.success]:bg-success [&.error]:h-46 [&.error]:bg-error mt-30 mb-60"></span>
                              </div>
                           </div>
                        </form>
                     </div>
                     <!-- Contact Form Ends -->
                  </div>
               </div>
            </div>
         </div>
         <!-- Blog Ends -->
      </div>
      <!-- Main Content Ends -->

{% endblock %}



