{% extends 'blogapp/base.html' %}

{% block content %}

      <!-- Main Content Starts -->
      <div class="w-full h-full pages overflow-hidden">
         <!-- Home Starts -->
         <div class="page page--current" id="about">
            <div class="w-full">
              <!-- Section Title Starts -->
               <div class="mx-auto w-full relative py-80 text-center xs:px-25 xs:pt-16 xs:pb-14 xs:bg-black-3 xs:border-b xs:border-black-4 xs:fixed xs:left-0 xs:right-0 xs:top-0 xs:z-20">
                  <h2 class="text-fs-56 font-black font-Poppins uppercase text-white m-0 xs:text-fs-26 xs:text-left xs:leading-lh-1.2">
                     about <span class="text-accent">us</span>
                  </h2>
                  <span class="text-fs-110 absolute left-0 right-0 top-1/2 tracking-10 leading-lh-0.7 font-extrabold text-muted -translate-y-1/2 uppercase xs:hidden">Services</span>
               </div>
               <!-- Section Title Ends -->
               <div class="xl:max-w-1140 custom-md-3:max-w-[calc(100%-195px)] lg:max-w-960 md:max-w-720 sm:max-w-540 xs:max-w-full mx-auto">
                  <div class="flex flex-row down-lg:flex-col">
                    <!-- Personal Informations Starts -->
                     <div class="xl:basis-1/2 lg:basis-5/12 down-lg:basis-full">
                        <h3 class="uppercase text-fs-26 xs:text-fs-21 pb-22 text-white font-semibold">
                           Company infos
                        </h3>
<!--                        <img class="hidden xs:block rounded-full border-4 border-solid border-black-3 w-230 h-230 mb-25 mx-auto" src="assets/img/dark-img-mobile.jpg" alt="">-->
                        <div class="video-container">
  <video class="hidden down-lg:block rounded-full object-cover w-full h-full border-4 border-solid border-black-3" autoplay loop muted playsinline>
    <source src="/static/assets/img/880744%20(online-video-cutter.com).mp4" type="video/mp4">
  </video>
</div>
                        <div class="flex justify-between xs:justify-start font-Open-sans capitalize">
                           <div class="basis-1/2 [&>div]:pb-20 [&>div:last-child]:pb-0 text-fs-15 xs:text-fs-14">
                              <div>
                                 <span class="opacity-80">
                                 Managing Partner :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 Peter Olesen
                                 </span>
                              </div>
                              <div>
                                 <span class="opacity-80">
                                 Managing Partner :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 Tore S. Heyden
                                 </span>
                              </div>
                              <div>
                                 <span class="opacity-80">
                                 Nordic CF :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 Jonas P. Knudsen
                                 </span>
                              </div>
                              <div>
                                 <span class="opacity-80">
                                 nationality :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 USA
                                 </span>
                              </div>
                              <div>
                                 <span class="opacity-80">
                                 Establishment :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 2016 Oct.
                                 </span>
                              </div>
                           </div>
                           <div class="basis-1/2 [&>div]:pb-20 [&>div:last-child]:pb-0 text-fs-15 xs:text-fs-14">
                              <div>
                                 <span class="opacity-80">
                                 address :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 456 Broadway, New York
                                 </span>
                              </div>
                              <div>
                                 <span class="opacity-80">
                                 phone :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 (212) 525-2748
                                 </span>
                              </div>
                              <div>
                                 <span class="opacity-80">
                                 email :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 Hash.Chain@mail.com
                                 </span>
                              </div>
                              <div>
                                 <span class="opacity-80">
                                 skype :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 Peters.Olesen
                                 </span>
                              </div>
                              <div>
                                 <span class="opacity-80">
                                 Activity :
                                 </span>
                                 <span class="xs:block custom-md-2:block font-semibold">
                                 Blockchain consulting & infrastructure
                                 </span>
                              </div>
                           </div>
                        </div>
                        <a class="button mt-30 overflow-hidden inline-block leading-lh-1.4 rounded-30 text-ellipsis text-center align-middle select-none transition-all duration-250 ease-in-out uppercase no-underline relative z-10 py-16 pr-70 pl-35 text-fs-15 font-semibold text-white bg-transparent outline-0 before:absolute before:-z-10 before:left-0 before:right-0 before:top-0 before:bottom-0 before:translate-x-full hover:before:translate-x-0 before:transition before:duration-300 before:ease-out" href="{% url 'blogapp:contact_us' %}">
                        <span class="relative z-20 text-white">Contact Us</span>
                        <span class="absolute -right-px bottom-0 w-55 h-55 flex items-center justify-center rounded-full text-white text-fs-19 bg-accent">
                           <box-icon type='solid' name='right-arrow-alt' color="#ffffff"></box-icon>
                        </span>
                        </a>
                     </div>
                     <!-- Personal Informations Ends -->
                     <!-- Facts Starts -->
                     <div class="xl:basis-1/2 lg:basis-7/12 down-lg:basis-full down-lg:mt-50">
                        <div class="flex down-lg:-mx-15 flex-wrap">
                           <div class="w-1/2 px-15">
                              <div class="pt-20 xs:pt-15 pr-30 xs:pr-20 pb-25 xs:pb-20 pl-40 xs:pl-25 border border-black-3 rounded-5 mb-30 xs:mb-25">
                                 <h3 class="relative inline-block font-bold text-fs-50 xs:text-fs-40 text-accent leading-lh-1.2 after:content-['+'] after:absolute after:-right-24 after:text-fs-33 after:font-light after:top-2">
                                    14
                                 </h3>
                                 <p class="relative xs:text-fs-14 uppercase pl-45 xs:pl-0 xs:before:hidden font-Open-sans font-medium before:absolute before:left-0 before:top-13 before:w-30 before:h-1 before:bg-black-5">
                                    Audit & <span class="block">Assurance</span>
                                 </p>
                              </div>
                           </div>
                           <div class="w-1/2 px-15">
                              <div class="pt-20 xs:pt-15 pr-30 xs:pr-20 pb-25 xs:pb-20 pl-40 xs:pl-25 border border-black-3 rounded-5 mb-30 xs:mb-25">
                                 <h3 class="relative inline-block font-bold text-fs-50 xs:text-fs-40 text-accent leading-lh-1.2 after:content-['+'] after:absolute after:-right-24 after:text-fs-33 after:font-light after:top-2">
                                    87
                                 </h3>
                                 <p class="relative xs:text-fs-14 uppercase pl-45 xs:pl-0 xs:before:hidden font-Open-sans font-medium before:absolute before:left-0 before:top-13 before:w-30 before:h-1 before:bg-black-5">
                                    Analytics <span class="block">and M&A</span>
                                 </p>
                              </div>
                           </div>
                           <div class="w-1/2 px-15">
                              <div class="pt-20 xs:pt-15 pr-30 xs:pr-20 pb-25 xs:pb-20 pl-40 xs:pl-25 border border-black-3 rounded-5">
                                 <h3 class="relative inline-block font-bold text-fs-50 xs:text-fs-40 text-accent leading-lh-1.2 after:content-['+'] after:absolute after:-right-24 after:text-fs-33 after:font-light after:top-2">
                                    92
                                 </h3>
                                 <p class="relative xs:text-fs-14 uppercase pl-45 xs:pl-0 xs:before:hidden font-Open-sans font-medium before:absolute before:left-0 before:top-13 before:w-30 before:h-1 before:bg-black-5">
                                    Tax & <span class="block">Risk Advisory</span>
                                 </p>
                              </div>
                           </div>
                           <div class="w-1/2 px-15">
                              <div class="pt-20 xs:pt-15 pr-30 xs:pr-20 pb-25 xs:pb-20 pl-40 xs:pl-25 border border-black-3 rounded-5">
                                 <h3 class="relative inline-block font-bold text-fs-50 xs:text-fs-40 text-accent leading-lh-1.2 after:content-['+'] after:absolute after:-right-24 after:text-fs-33 after:font-light after:top-2">
                                    51
                                 </h3>
                                 <p class="relative xs:text-fs-14 uppercase pl-45 xs:pl-0 xs:before:hidden font-Open-sans font-medium before:absolute before:left-0 before:top-13 before:w-30 before:h-1 before:bg-black-5">
                                    Financial <span class="block">Advisory</span>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Facts Ends -->
                  </div>
                  <hr class="border-t border-solid border-t-black-3 mx-auto max-w-40prcent mt-35 mb-55">
                  <h3 class="uppercase text-fs-26 xs:text-fs-21 pb-48 text-white font-semibold text-center">
                     experience & services
                  </h3>
                  <!-- Resume Starts -->
                  <div class="flex down-sm:flex-col from-sm:mb-40">
                    <!-- Experience Starts -->
                     <div class="w-1/2 down-sm:w-full">
                        <ul>
                          {% for post in posts|slice:":3" %}
                           <li class="relative pr-20 pl-60 mb-50 after:absolute after:top-0 after:left-20 after:bg-black-4 after:w-1 after:h-full">
                              <div class="bg-accent w-40 h-40 absolute left-0 leading-lh-40 text-center z-10 rounded-full text-white">
                                    <box-icon type='solid' name='pencil' color="#ffffff" style="padding-top: 5px"></box-icon>
                              </div>
                              <span class="text-white text-fs-12 py-1 px-10 inline-block mb-12 rounded-20 font-semibold bg-black-3 opacity-80 font-Open-sans uppercase">
                              {{ post.publish|date:"M d, Y" }} - By {{ post.author }}
                              </span>
                              <a href="{% url 'blogapp:post_detail' slug=post.slug  %}">
                                 <h5 class="uppercase text-fs-18 mt-7 mb-10">
                                 {{ post.title }}
                                 <span class="opacity-80 font-semibold text-fs-15 relative pl-26 font-Open-sans before:absolute before:w-10 before:h-2 before:bg-white before:left-7 before:top-9 before:opacity-80">
                                 {{ post.author }}
                                 </span>
                              </h5>
                              </a>
                              <p class="font-Open-sans text-light-grey text-fs-14">
                                {{ post.body|truncatewords:17 }}
                              </p>
                           </li>
                          {% endfor %}
                        </ul>
                     </div>
                     <!-- Experience Ends -->
                     <!-- Education Starts -->
                     <div class="w-1/2 down-sm:w-full">
                        <ul>
                           {% for post in posts|slice:"3:" %}
                           <li class="relative pr-20 pl-60 mb-50 after:absolute after:top-0 after:left-20 after:bg-black-4 after:w-1 after:h-full">
                              <div class="bg-accent w-40 h-40 absolute left-0 leading-lh-40 text-center z-10 rounded-full text-white">
                                 <box-icon type='solid' name='pencil' color="#ffffff" style="padding-top: 5px"></box-icon>
                              </div>
                              <span class="text-white text-fs-12 py-1 px-10 inline-block mb-12 rounded-20 font-semibold bg-black-3 opacity-80 font-Open-sans uppercase">
                              {{ post.publish|date:"M d, Y" }} - By {{ post.author }}
                              </span>
                              <a href="{% url 'blogapp:post_detail' slug=post.slug  %}">
                                 <h5 class="uppercase text-fs-18 mt-7 mb-10">
                                 {{ post.title }}
                                 <span class="opacity-80 font-semibold text-fs-15 relative pl-26 font-Open-sans before:absolute before:w-10 before:h-2 before:bg-white before:left-7 before:top-9 before:opacity-80">
                                 {{ post.author }}
                                 </span>
                              </h5>
                              </a>
                              <p class="font-Open-sans text-light-grey text-fs-14">
                                {{ post.body|truncatewords:17 }}
                              </p>
                           </li>
                          {% endfor %}
                        </ul>
                     </div>
                     <!-- Education Ends -->
                  </div>
                  <!-- Resume Ends -->
                  {% include "./pagination.html" with page=posts %}
               </div>
            </div>
         </div>
         <!-- Blog Ends -->
      </div>

{% endblock %}