{% extends 'blogapp/base.html' %}

{% block content %}

      <!-- Main Content Starts -->
      <div class="w-full h-full pages overflow-hidden">
         <!-- Home Starts -->
         <div class="page page--current" id="about">
            <div class="w-full">
               <div class="xl:max-w-1140 custom-md-3:max-w-[calc(100%-195px)] lg:max-w-960 md:max-w-720 sm:max-w-540 xs:max-w-full mx-auto">
                  <div class="flex flex-row down-lg:flex-col">

                  </div>
                  <hr class="border-t border-solid border-t-black-3 mx-auto max-w-40prcent mt-35 mb-55">
                  <h3 class="uppercase text-fs-26 xs:text-fs-21 pb-48 text-white font-semibold text-center">
                      <span class="text-accent">M</span>essage <span class="text-accent">s</span>ent <span class="text-accent">s</span>uccessfully <span class="text-accent">!</span>
                  </h3>
               </div>
            </div>
         </div>
         <!-- Home Ends -->

         <!-- Blog Ends -->
      </div>
      <!-- Main Content Ends -->

{% endblock %}